# No temporary editor files
temp/*.*

# No compiling files
lib/

# Again no compiling files
samples/bin/*.pdb
samples/bin/*.ilk

# File extensions to ignore
*.swp
*.exe
*.so
*.a
*.dll
*.lib
*.dynlib

# Other
build.sh
