# No temporary editor files
temp/*.*

# No compiling files
lib/
passion/bin/passion
passion/bin/Passion
passion/bin/bin/

# Again no compiling files
samples/bin/*.pdb
samples/bin/*.ilk

# File extensions to ignore
*.swp
*.exe
*.so
*.a
*.dll
*.lib
*.dynlib

# Project files
build/CMakeCache.txt
build/CMakeFiles/
build/cmake_install.cmake
build/Makefile
build/projects/

# Other
build.sh
